# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.build/
.buildlog/
.history
.svn/
.swiftpm/
migrate_working_dir/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# The .vscode folder contains launch configuration and tasks you configure in
# VS Code which you may wish to be included in version control, so this line
# is commented out by default.
#.vscode/

# Flutter/Dart/Pub related
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins
\.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
/build/
./integration_test/\.flutter-plugins-dependencies

# Ios related
/ios/Podfile.lock

# Symbolication related
app.*.symbols

# Obfuscation related
app.*.map.json

# Android Studio will place build artifacts here
/android/app/.cxx

# old .env (is not used anymore)
.env
assets/config/app_config.json
assets/config/app_config.jsonc
# these files will be generated
#assets/i18n/nl-NL.json
#assets/i18n/de-DE.json
#assets/i18n/en-GB.json

node_modules
*.g.dart
.vscode
/out/
target
/android/key.properties

/integration_test/lib/config/test_config.dart
android/app/.cxx/Debug/4l6r6a3v/arm64-v8a/CMakeFiles/rules.ninja
android/app/.cxx/Debug/4l6r6a3v/arm64-v8a/CMakeFiles/TargetDirectories.txt
android/app/.cxx/Debug/4l6r6a3v/arm64-v8a/CMakeFiles/3.22.1-g37088a8/CMakeCCompiler.cmake
android/app/.cxx/Debug/4l6r6a3v/arm64-v8a/CMakeFiles/3.22.1-g37088a8/CMakeCXXCompiler.cmake
android/app/.cxx/Debug/4l6r6a3v/arm64-v8a/CMakeFiles/3.22.1-g37088a8/CMakeDetermineCompilerABI_C.bin
android/app/.cxx/Debug/4l6r6a3v/arm64-v8a/CMakeFiles/3.22.1-g37088a8/CMakeDetermineCompilerABI_CXX.bin
android/app/.cxx/Debug/4l6r6a3v/arm64-v8a/CMakeFiles/3.22.1-g37088a8/CMakeSystem.cmake
android/app/.cxx/Debug/4l6r6a3v/arm64-v8a/CMakeFiles/3.22.1-g37088a8/CompilerIdC/CMakeCCompilerId.c
android/app/.cxx/Debug/4l6r6a3v/arm64-v8a/CMakeFiles/3.22.1-g37088a8/CompilerIdC/CMakeCCompilerId.o
android/app/.cxx/Debug/4l6r6a3v/arm64-v8a/CMakeFiles/3.22.1-g37088a8/CompilerIdCXX/CMakeCXXCompilerId.cpp
android/app/.cxx/Debug/4l6r6a3v/arm64-v8a/CMakeFiles/3.22.1-g37088a8/CompilerIdCXX/CMakeCXXCompilerId.o
android/app/.cxx/Debug/4l6r6a3v/armeabi-v7a/additional_project_files.txt
android/app/.cxx/Debug/4l6r6a3v/armeabi-v7a/android_gradle_build_mini.json
android/app/.cxx/Debug/4l6r6a3v/armeabi-v7a/android_gradle_build.json
android/app/.cxx/Debug/4l6r6a3v/armeabi-v7a/build_file_index.txt
android/app/.cxx/Debug/4l6r6a3v/armeabi-v7a/build.ninja
android/app/.cxx/Debug/4l6r6a3v/armeabi-v7a/cmake_install.cmake
android/app/.cxx/Debug/4l6r6a3v/armeabi-v7a/CMakeCache.txt
android/app/.cxx/Debug/4l6r6a3v/armeabi-v7a/configure_fingerprint.bin
android/app/.cxx/Debug/4l6r6a3v/armeabi-v7a/metadata_generation_command.txt
android/app/.cxx/Debug/4l6r6a3v/armeabi-v7a/prefab_config.json
android/app/.cxx/Debug/4l6r6a3v/armeabi-v7a/symbol_folder_index.txt
android/app/.cxx/Debug/4l6r6a3v/armeabi-v7a/.cmake/api/v1/query/client-agp/cache-v2
android/app/.cxx/Debug/4l6r6a3v/armeabi-v7a/.cmake/api/v1/query/client-agp/cmakeFiles-v1
android/app/.cxx/Debug/4l6r6a3v/armeabi-v7a/.cmake/api/v1/query/client-agp/codemodel-v2
android/app/.cxx/Debug/4l6r6a3v/armeabi-v7a/.cmake/api/v1/reply/cache-v2-3275d1c377a1b6d8de9c.json
android/app/.cxx/Debug/4l6r6a3v/armeabi-v7a/.cmake/api/v1/reply/cmakeFiles-v1-c382403998088b3f2ccc.json
android/app/.cxx/Debug/4l6r6a3v/armeabi-v7a/.cmake/api/v1/reply/codemodel-v2-64c6b5a39e26f12818f0.json
android/app/.cxx/Debug/4l6r6a3v/armeabi-v7a/.cmake/api/v1/reply/directory-.-Debug-f5ebdc15457944623624.json
android/app/.cxx/Debug/4l6r6a3v/armeabi-v7a/.cmake/api/v1/reply/index-2025-02-28T09-14-25-0127.json
android/app/.cxx/Debug/4l6r6a3v/armeabi-v7a/CMakeFiles/cmake.check_cache
android/app/.cxx/Debug/4l6r6a3v/armeabi-v7a/CMakeFiles/rules.ninja
android/app/.cxx/Debug/4l6r6a3v/armeabi-v7a/CMakeFiles/TargetDirectories.txt
android/app/.cxx/Debug/4l6r6a3v/armeabi-v7a/CMakeFiles/3.22.1-g37088a8/CMakeCCompiler.cmake
android/app/.cxx/Debug/4l6r6a3v/armeabi-v7a/CMakeFiles/3.22.1-g37088a8/CMakeCXXCompiler.cmake
android/app/.cxx/Debug/4l6r6a3v/armeabi-v7a/CMakeFiles/3.22.1-g37088a8/CMakeDetermineCompilerABI_C.bin
android/app/.cxx/Debug/4l6r6a3v/armeabi-v7a/CMakeFiles/3.22.1-g37088a8/CMakeDetermineCompilerABI_CXX.bin
android/app/.cxx/Debug/4l6r6a3v/armeabi-v7a/CMakeFiles/3.22.1-g37088a8/CMakeSystem.cmake
android/app/.cxx/Debug/4l6r6a3v/armeabi-v7a/CMakeFiles/3.22.1-g37088a8/CompilerIdC/CMakeCCompilerId.c
android/app/.cxx/Debug/4l6r6a3v/armeabi-v7a/CMakeFiles/3.22.1-g37088a8/CompilerIdC/CMakeCCompilerId.o
android/app/.cxx/Debug/4l6r6a3v/armeabi-v7a/CMakeFiles/3.22.1-g37088a8/CompilerIdCXX/CMakeCXXCompilerId.cpp
android/app/.cxx/Debug/4l6r6a3v/armeabi-v7a/CMakeFiles/3.22.1-g37088a8/CompilerIdCXX/CMakeCXXCompilerId.o
android/app/.cxx/Debug/4l6r6a3v/x86/additional_project_files.txt
android/app/.cxx/Debug/4l6r6a3v/x86/android_gradle_build_mini.json
android/app/.cxx/Debug/4l6r6a3v/x86/android_gradle_build.json
android/app/.cxx/Debug/4l6r6a3v/x86/build_file_index.txt
android/app/.cxx/Debug/4l6r6a3v/x86/build.ninja
android/app/.cxx/Debug/4l6r6a3v/x86/cmake_install.cmake
android/app/.cxx/Debug/4l6r6a3v/x86/CMakeCache.txt
android/app/.cxx/Debug/4l6r6a3v/x86/configure_fingerprint.bin
android/app/.cxx/Debug/4l6r6a3v/x86/metadata_generation_command.txt
android/app/.cxx/Debug/4l6r6a3v/x86/prefab_config.json
android/app/.cxx/Debug/4l6r6a3v/x86/symbol_folder_index.txt
android/app/.cxx/Debug/4l6r6a3v/x86/.cmake/api/v1/query/client-agp/cache-v2
android/app/.cxx/Debug/4l6r6a3v/x86/.cmake/api/v1/query/client-agp/cmakeFiles-v1
android/app/.cxx/Debug/4l6r6a3v/x86/.cmake/api/v1/query/client-agp/codemodel-v2
android/app/.cxx/Debug/4l6r6a3v/x86/.cmake/api/v1/reply/cache-v2-a1ff21cb12712d039821.json
android/app/.cxx/Debug/4l6r6a3v/x86/.cmake/api/v1/reply/cmakeFiles-v1-7111a01b912cf7d6c4a0.json
android/app/.cxx/Debug/4l6r6a3v/x86/.cmake/api/v1/reply/codemodel-v2-85e6d2e6ba276398708c.json
android/app/.cxx/Debug/4l6r6a3v/x86/.cmake/api/v1/reply/directory-.-Debug-f5ebdc15457944623624.json
android/app/.cxx/Debug/4l6r6a3v/x86/.cmake/api/v1/reply/index-2025-02-28T09-14-25-0598.json
android/app/.cxx/Debug/4l6r6a3v/x86/CMakeFiles/cmake.check_cache
android/app/.cxx/Debug/4l6r6a3v/x86/CMakeFiles/rules.ninja
android/app/.cxx/Debug/4l6r6a3v/x86/CMakeFiles/TargetDirectories.txt
android/app/.cxx/Debug/4l6r6a3v/x86/CMakeFiles/3.22.1-g37088a8/CMakeCCompiler.cmake
android/app/.cxx/Debug/4l6r6a3v/x86/CMakeFiles/3.22.1-g37088a8/CMakeCXXCompiler.cmake
android/app/.cxx/Debug/4l6r6a3v/x86/CMakeFiles/3.22.1-g37088a8/CMakeDetermineCompilerABI_C.bin
android/app/.cxx/Debug/4l6r6a3v/x86/CMakeFiles/3.22.1-g37088a8/CMakeDetermineCompilerABI_CXX.bin
android/app/.cxx/Debug/4l6r6a3v/x86/CMakeFiles/3.22.1-g37088a8/CMakeSystem.cmake
android/app/.cxx/Debug/4l6r6a3v/x86/CMakeFiles/3.22.1-g37088a8/CompilerIdC/CMakeCCompilerId.c
android/app/.cxx/Debug/4l6r6a3v/x86/CMakeFiles/3.22.1-g37088a8/CompilerIdC/CMakeCCompilerId.o
android/app/.cxx/Debug/4l6r6a3v/x86/CMakeFiles/3.22.1-g37088a8/CompilerIdCXX/CMakeCXXCompilerId.cpp
android/app/.cxx/Debug/4l6r6a3v/x86/CMakeFiles/3.22.1-g37088a8/CompilerIdCXX/CMakeCXXCompilerId.o
android/app/.cxx/Debug/4l6r6a3v/x86_64/additional_project_files.txt
android/app/.cxx/Debug/4l6r6a3v/x86_64/android_gradle_build_mini.json
android/app/.cxx/Debug/4l6r6a3v/x86_64/android_gradle_build.json
android/app/.cxx/Debug/4l6r6a3v/x86_64/build_file_index.txt
android/app/.cxx/Debug/4l6r6a3v/x86_64/build.ninja
android/app/.cxx/Debug/4l6r6a3v/x86_64/cmake_install.cmake
android/app/.cxx/Debug/4l6r6a3v/x86_64/CMakeCache.txt
android/app/.cxx/Debug/4l6r6a3v/x86_64/configure_fingerprint.bin
android/app/.cxx/Debug/4l6r6a3v/x86_64/metadata_generation_command.txt
android/app/.cxx/Debug/4l6r6a3v/x86_64/prefab_config.json
android/app/.cxx/Debug/4l6r6a3v/x86_64/symbol_folder_index.txt
android/app/.cxx/Debug/4l6r6a3v/x86_64/.cmake/api/v1/query/client-agp/cache-v2
android/app/.cxx/Debug/4l6r6a3v/x86_64/.cmake/api/v1/query/client-agp/cmakeFiles-v1
android/app/.cxx/Debug/4l6r6a3v/x86_64/.cmake/api/v1/query/client-agp/codemodel-v2
android/app/.cxx/Debug/4l6r6a3v/x86_64/.cmake/api/v1/reply/cache-v2-73fd6824cb36fa40fbc4.json
android/app/.cxx/Debug/4l6r6a3v/x86_64/.cmake/api/v1/reply/cmakeFiles-v1-1b118a9399ec38c9815c.json
android/app/.cxx/Debug/4l6r6a3v/x86_64/.cmake/api/v1/reply/codemodel-v2-f47f98c94bfb7f60b483.json
android/app/.cxx/Debug/4l6r6a3v/x86_64/.cmake/api/v1/reply/directory-.-Debug-f5ebdc15457944623624.json
android/app/.cxx/Debug/4l6r6a3v/x86_64/.cmake/api/v1/reply/index-2025-02-28T09-14-26-0039.json
android/app/.cxx/Debug/4l6r6a3v/x86_64/CMakeFiles/cmake.check_cache
android/app/.cxx/Debug/4l6r6a3v/x86_64/CMakeFiles/rules.ninja
android/app/.cxx/Debug/4l6r6a3v/x86_64/CMakeFiles/TargetDirectories.txt
android/app/.cxx/Debug/4l6r6a3v/x86_64/CMakeFiles/3.22.1-g37088a8/CMakeCCompiler.cmake
android/app/.cxx/Debug/4l6r6a3v/x86_64/CMakeFiles/3.22.1-g37088a8/CMakeCXXCompiler.cmake
android/app/.cxx/Debug/4l6r6a3v/x86_64/CMakeFiles/3.22.1-g37088a8/CMakeDetermineCompilerABI_C.bin
android/app/.cxx/Debug/4l6r6a3v/x86_64/CMakeFiles/3.22.1-g37088a8/CMakeDetermineCompilerABI_CXX.bin
android/app/.cxx/Debug/4l6r6a3v/x86_64/CMakeFiles/3.22.1-g37088a8/CMakeSystem.cmake
android/app/.cxx/Debug/4l6r6a3v/x86_64/CMakeFiles/3.22.1-g37088a8/CompilerIdC/CMakeCCompilerId.c
android/app/.cxx/Debug/4l6r6a3v/x86_64/CMakeFiles/3.22.1-g37088a8/CompilerIdC/CMakeCCompilerId.o
android/app/.cxx/Debug/4l6r6a3v/x86_64/CMakeFiles/3.22.1-g37088a8/CompilerIdCXX/CMakeCXXCompilerId.cpp
android/app/.cxx/Debug/4l6r6a3v/x86_64/CMakeFiles/3.22.1-g37088a8/CompilerIdCXX/CMakeCXXCompilerId.o
android/app/.cxx/Debug/4l6r6a3v/hash_key.txt
android/app/.cxx/Debug/4l6r6a3v/arm64-v8a/additional_project_files.txt
android/app/.cxx/Debug/4l6r6a3v/arm64-v8a/android_gradle_build_mini.json
android/app/.cxx/Debug/4l6r6a3v/arm64-v8a/android_gradle_build.json
android/app/.cxx/Debug/4l6r6a3v/arm64-v8a/build_file_index.txt
android/app/.cxx/Debug/4l6r6a3v/arm64-v8a/build.ninja
android/app/.cxx/Debug/4l6r6a3v/arm64-v8a/cmake_install.cmake
android/app/.cxx/Debug/4l6r6a3v/arm64-v8a/CMakeCache.txt
android/app/.cxx/Debug/4l6r6a3v/arm64-v8a/configure_fingerprint.bin
android/app/.cxx/Debug/4l6r6a3v/arm64-v8a/metadata_generation_command.txt
android/app/.cxx/Debug/4l6r6a3v/arm64-v8a/prefab_config.json
android/app/.cxx/Debug/4l6r6a3v/arm64-v8a/symbol_folder_index.txt
android/app/.cxx/Debug/4l6r6a3v/arm64-v8a/.cmake/api/v1/query/client-agp/cache-v2
android/app/.cxx/Debug/4l6r6a3v/arm64-v8a/.cmake/api/v1/query/client-agp/cmakeFiles-v1
android/app/.cxx/Debug/4l6r6a3v/arm64-v8a/.cmake/api/v1/query/client-agp/codemodel-v2
android/app/.cxx/Debug/4l6r6a3v/arm64-v8a/.cmake/api/v1/reply/cache-v2-5b995145071dacf28916.json
android/app/.cxx/Debug/4l6r6a3v/arm64-v8a/.cmake/api/v1/reply/cmakeFiles-v1-98bb306cc0c39e1f577e.json
android/app/.cxx/Debug/4l6r6a3v/arm64-v8a/.cmake/api/v1/reply/codemodel-v2-7291d8a0839cff9d40c4.json
android/app/.cxx/Debug/4l6r6a3v/arm64-v8a/.cmake/api/v1/reply/directory-.-Debug-f5ebdc15457944623624.json
android/app/.cxx/Debug/4l6r6a3v/arm64-v8a/.cmake/api/v1/reply/index-2025-02-28T09-14-24-0599.json
android/app/.cxx/Debug/4l6r6a3v/arm64-v8a/CMakeFiles/cmake.check_cache
